# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data_1 = pd.read_csv('ratings.csv') #Загрузим датасет с рейтингом
data_1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
data_2 = pd.read_csv('movies.csv') #Загрузим датасет с фильмами
data_2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data = data_1.merge(data_2, on='movieId', how='left') #Объединим два датасета для корректного поиска по фильмам
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
data[data['rating'] == 5].value_counts('title').head(1) #Функция value_counts() возвращает серию, содержащую количество уникальных значений в порядке убывания

title
Shawshank Redemption, The (1994)    153
dtype: int64

Больше всего оценок 5.0 выставлено фильму Shawshank Redemption, The (1994)

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
# Определим как в датасете записана Литва, аналогично для других стран
data_power[ data_power['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [8]:
data_power[ data_power['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [9]:
data_power[ data_power['country'].str.contains('est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [10]:
data_power[ data_power['country'].str.contains('balt', case=False) ]['country'].unique() #Обозначие искомых стран как страны Прибалтики не встречается

array([], dtype=object)

In [11]:
#Отфильтруем данные согласно заданию
filtered_data_power =  data_power[ ((data_power['country'] == 'Lithuania') | 
                                    (data_power['country'] == 'Latvia') | 
                                    (data_power['country'] == 'Estonia')) &
                                  
                                   ((data_power['category'] == 4) | 
                                    (data_power['category'] == 12) | 
                                    (data_power['category'] == 21)) &
                                  
                                  ( (data_power['year'] >= 2010) &
                                    (data_power['year'] <= 2010)) &
                                  
                                  (data_power['quantity'] >= 0)
]

In [12]:
sum_quantity = filtered_data_power['quantity'].sum()
print(sum_quantity)

38861.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
* https://fortrader.org/quotes
* https://www.finanz.ru/valyuty/v-realnom-vremeni

In [13]:
# Загрузим данные
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni-rub'
information = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
information[:3]

[    Unnamed: 0   Основные валюты  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN           USD/RUB       735285      -               733059
 1          NaN           EUR/RUB       892215      -               890820
 2          NaN           GBP/RUB       989608      -               986038
 3          NaN           CNY/RUB       112567      -               112099
 4          NaN           JPY/RUB        07079      -                07070
 5          NaN           CHF/RUB       827668      -               827381
 6          NaN  Остальные валюты  Предложение  Спрос  Предыдущее закрытие
 7          NaN           TWD/RUB        26110      -                26075
 8          NaN           SGD/RUB       552336      -               549973
 9          NaN           AUD/RUB       554844      -               553900
 10         NaN           NZD/RUB       519101      -               519372
 11         NaN           CAD/RUB       575069      -               577280
 12         NaN           HKD/RUB        94857      -                94568
 13         NaN           NOK/RUB        84317      -                83962
 14         NaN           BRL/RUB       143531      -               144235
 15         NaN           DKK/RUB       119953      -               119693
 16         NaN           INR/RUB        09984      -                09970
 17         NaN           KRW/RUB        00671      -                00673
 18         NaN           MXN/RUB        36817      -                36804
 19         NaN           HKD/RUB        94857      -                94568
 20         NaN           PLN/RUB       200909      -               200665
 21         NaN           CZK/RUB        34057      -                33866
 22         NaN           SEK/RUB        87586      -                87467
 23         NaN           THB/RUB        24496      -                24411
 24         NaN           TRY/RUB        94149      -                93497
 25         NaN           AED/RUB       200199      -               199581

           %  Абсолютное значение     Время
 0    0,30 %                02226  22:23:00
 1    0,16 %                01395  22:23:00
 2    0,36 %                03570  22:24:00
 3    0,42 %                00468  22:24:00
 4    0,13 %                00009  22:24:00
 5    0,03 %                00288  22:24:00
 6         %  Абсолютное значение     Время
 7    0,13 %                00035  22:24:00
 8    0,43 %                02363  22:24:00
 9    0,17 %                00945  22:24:00
 10  -0,05 %               -00271  22:24:00
 11  -0,38 %               -02211  22:23:00
 12   0,31 %                00289  22:24:00
 13   0,42 %                00355  22:24:00
 14  -0,49 %               -00704  22:24:00
 15   0,22 %                00261  22:24:00
 16   0,15 %                00015  22:24:00
 17  -0,24 %               -00002  22:24:00
 18   0,04 %                00013  22:24:00
 19   0,31 %                00289  22:24:00
 20   0,12 %                00244  22:24:00
 21   0,56 %                00191  22:24:00
 22   0,14 %                00119  22:23:00
 23   0,35 %                00086  22:24:00
 24   0,70 %                00652  22:24:00
 25   0,31 %                00618  22:23:00  ]

In [14]:
type(information) #Определим полученный тип данных

list

In [15]:
information_df = information[0]
information_df.head()

,Unnamed: 0,Основные валюты,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,USD/RUB,735285,-,733059,"0,30 %",02226,22:23:00
1,NaN,EUR/RUB,892215,-,890820,"0,16 %",01395,22:23:00
2,NaN,GBP/RUB,989608,-,986038,"0,36 %",03570,22:24:00
3,NaN,CNY/RUB,112567,-,112099,"0,42 %",00468,22:24:00
4,NaN,JPY/RUB,07079,-,07070,"0,13 %",00009,22:24:00

In [16]:
type(information_df)

pandas.core.frame.DataFrame