# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики.

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Из описания столбцов возьмем информацию о заголовках столбцов
column_headers = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 
                 'peripheral pulse',  'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 
                 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume',
                 'total protein', 'bdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion 1',
                 'type of lesion 2', 'type of lesion 3', 'cp_data']

In [3]:
# Загрузим исходный датафрейм и возьмем ранее полученные наименования столбцов
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', names=column_headers, na_values='?')
df.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,bdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [4]:
# Получем информацию о типах значений в каждой колонке
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     299 non-null    float64
 1   Age                          300 non-null    int64
 2   Hospital Number              300 non-null    int64
 3   rectal temperature           240 non-null    float64
 4   pulse                        276 non-null    float64
 5   respiratory rate             242 non-null    float64
 6   temperature of extremities   244 non-null    float64
 7   peripheral pulse             231 non-null    float64
 8   mucous membranes             253 non-null    float64
 9   capillary refill time        268 non-null    float64
 10  pain                         245 non-null    float64
 11  peristalsis                  256 non-null    float64
 12  abdominal distension         244 non-null    float64
 13  nasogastric tube             196 non-null    float64
 14  nasogastric reflux           194 non-null    float64
 15  nasogastric reflux PH        53 non-null     float64
 16  rectal examination           198 non-null    float64
 17  abdomen                      182 non-null    float64
 18  packed cell volume           271 non-null    float64
 19  total protein                267 non-null    float64
 20  bdominocentesis appearance   135 non-null    float64
 21  abdomcentesis total protein  102 non-null    float64
 22  outcome                      299 non-null    float64
 23  surgical lesion?             300 non-null    int64
 24  type of lesion 1             300 non-null    int64
 25  type of lesion 2             300 non-null    int64
 26  type of lesion 3             300 non-null    int64
 27  cp_data                      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

По условиям задания требуется выбрать 8 столбцов для дальнейшего обучения (среди них должны быть как числовые, так и категориальные). Для дальнеушего изучения выберем следующие столбцы:
* "surgery?" - предоставляет информацию о том была ли произведена операция лошади. Если указана 1, то ему сделали операцию. Если указана 2, то лошадь лечилась без хирургического вмешательства.
* "Age" - предоставляет информацию о возврасте животного. Если указана 1, то лошади старше 6 месяцев. Если указана 2, то лошади моложе 6 месяцев.
* "Hospital Number" - предоставляет информацию о числовом индификаторе лошади. Если лошадь ранее проходила лечение, но числовой индификатор не уникален.
* "capillary refill time" - предоставляет информацию о времени наполнения капиляров. Чем оно больше, тем хуже циркуляция крови. Если указана 1, то время менее 3 секунд (не включая 3 секунды). Если указана 2, то время более или равно 3 секундам.
* "packed cell volume" - предоставляет информацию об общем объеме эритроцитов. Данный показатель линейный и повышается по мере нарушения кровообращения или обезвоживания животного. Нормальное значение от 30 до 50.
* "total protein" - предоставляет информацию об уровне общего белка в крови. Данный показатель линейный. Чем выше значение, тем больше обезвоживание. Нормальное значение находится в диапазоне 6-7,5 (гмс/дЛ).
* "outcome" - предоставляет информация об итогах лечения. Если указана 1, то лошадь осталась жива. Если указана 2, то лошадь умерла. Если указана 3, то лошадь усыпили.
* "cp_data" - предоставляет информацию о наличии паталогии в указанном случае. Если указана 1, то патология имелась. Если указана 2, то паталогия не была выявлена.

In [5]:
# Составим датафрейм из выбранных столбцов
information_about_horses = df[['surgery?', 'Age', 'Hospital Number', 'capillary refill time', 'packed cell volume', 'total protein', 'outcome', 'cp_data']].copy()
information_about_horses.head()

,surgery?,Age,Hospital Number,capillary refill time,packed cell volume,total protein,outcome,cp_data
0,2.0,1,530101,2.0,45.0,8.4,2.0,2
1,1.0,1,534817,1.0,50.0,85.0,3.0,2
2,2.0,1,530334,1.0,33.0,6.7,1.0,1
3,1.0,9,5290409,2.0,48.0,7.2,2.0,1
4,2.0,1,530255,2.0,74.0,7.4,2.0,2

In [6]:
# До подсчета базовых метрик необходимо привести каждый столбец в вид в соответствии с его описанием. Получим информацию о столбцах.
information_about_horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery?               299 non-null    float64
 1   Age                    300 non-null    int64
 2   Hospital Number        300 non-null    int64
 3   capillary refill time  268 non-null    float64
 4   packed cell volume     271 non-null    float64
 5   total protein          267 non-null    float64
 6   outcome                299 non-null    float64
 7   cp_data                300 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 18.9 KB

In [7]:
# Произведем расчет базовых метрик для выбранных столбцов
information_about_horses.describe()

,surgery?,Age,Hospital Number,capillary refill time,packed cell volume,total protein,outcome,cp_data
count,299.000000,300.000000,3.000000e+02,268.000000,271.000000,267.000000,299.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,1.305970,46.295203,24.456929,1.551839,1.670000
std,0.490305,2.173972,1.529801e+06,0.477629,10.419335,27.475009,0.737187,0.470998
min,1.000000,1.000000,5.184760e+05,1.000000,23.000000,3.300000,1.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,1.000000,38.000000,6.500000,1.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,1.000000,45.000000,7.500000,1.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,2.000000,52.000000,57.000000,2.000000,2.000000
max,2.000000,9.000000,5.305629e+06,3.000000,75.000000,89.000000,3.000000,2.000000

In [8]:
# Определим медиану для каждого столбца.
information_about_horses.median()

surgery?                      1.0
Age                           1.0
Hospital Number          530305.5
capillary refill time         1.0
packed cell volume           45.0
total protein                 7.5
outcome                       1.0
cp_data                       2.0
dtype: float64

Из полученных результатов видно, что:
1. В столбце "surgery?" отсутствует информация о проведении информации об одной лошади. Более половине лошадей операции не проводились.
2. В столбце "Age" информация указана полностью, но есть выбросы. Большая часть лошадей старше полу года и являются взрослыми особями.
3. Столбец "Hospital Number" не дает инфорции о лошадях, а только об их индификационном номере. Столбец заполнен полностью.
4. В столбце "capillary refill time" пропущена информация о части лошадей. Присутствуют выбросы. У большей части лошадей данный показатель в норме.
5. В столбце "packed cell volume" пропущена информация о части лошадей. Среднее значение находится в пределах нормы.
6. В столбце "total protein" пропущена информация о части лошадей. Среднее значение сильно превышает норму, а медианнное значение входит в диапазон нормальных значений. С большой вероятностью можно говорить о наличии выбросов.
7. В столбце "outcome" отсутствует информация о проведении информации об одной лошади. Большая часть лошадей осталась жива после проведенного лечения.
8. Столбец "cp_data" заполнен полностью. У большинства лошадей патологии выявлены не были.
Можно сделать вывод, что на лечение поступали лошади старше 6 месяцев без выявленных патологий, большая часть из которых после лечения оставалась жива.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

Числовыми столбцами являются следующие столбцы:
* packed cell volume
* total protein

Определим выбросы используя межквартильный размах.

In [9]:
# Определим верхнюю и нижнюю границу нормальных значений в столбце packed cell volume.
IQR_PCV = df['packed cell volume'].quantile(0.75) - df['packed cell volume'].quantile(0.25)
lower_outlier_PCV = df['packed cell volume'].quantile(0.25) - 1.5 * IQR_PCV
higher_outlier_PCV = df['packed cell volume'].quantile(0.75) + 1.5 * IQR_PCV
# Выведем выбросы в столбце packed cell volume
information_about_horses[(information_about_horses['packed cell volume'] < lower_outlier_PCV) | 
                         (information_about_horses['packed cell volume'] > higher_outlier_PCV)]

,surgery?,Age,Hospital Number,capillary refill time,packed cell volume,total protein,outcome,cp_data
4,2.0,1,530255,2.0,74.0,7.4,2.0,2
144,1.0,1,534519,1.0,75.0,81.0,3.0,2
151,1.0,1,529399,2.0,75.0,NaN,2.0,1

In [10]:
# Выведем значение верхней границы
higher_outlier_PCV

73.0

Три значения были определены как выбросы. Они немногим превышают значение верхней границы рассматриваемого диапазона. Требуется принять указанные значения в работу, так как данные значения могли появиться у лошадей при сильном заболевании. Как мы видим из данных, две лошади из трех погибли. Таким образом, выбросы являются естественными.

In [11]:
# Определим верхнюю и нижнюю границу нормальных значений в столбце total protein.
IQR_TP = df['total protein'].quantile(0.75) - df['total protein'].quantile(0.25)
lower_outlier_TP = df['total protein'].quantile(0.25) - 1.5 * IQR_TP
higher_outlier_TP = df['total protein'].quantile(0.75) + 1.5 * IQR_TP
# Выведем выбросы в столбце total protein.
information_about_horses[(information_about_horses['total protein'] < lower_outlier_TP) | 
                         (information_about_horses['total protein'] > higher_outlier_TP)]

Empty DataFrame
Columns: [surgery?, Age, Hospital Number, capillary refill time, packed cell volume, total protein, outcome, cp_data]
Index: []

In [12]:
# Выведем значение нижней границы
lower_outlier_TP

-69.25

In [13]:
# Выведем значение верхней границы границы
higher_outlier_TP

132.75

Не смотря на то, что в столбце total protein имеется сильный разброс значений от стандартных (нормальное значение находится в диапазоне 6-7,5 (гмс/дЛ)) выбросы не найдены.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [14]:
# Найдем суммарное значение пропусков для всех столбцов
information_about_horses.isna().sum()

surgery?                  1
Age                       0
Hospital Number           0
capillary refill time    32
packed cell volume       29
total protein            33
outcome                   1
cp_data                   0
dtype: int64

In [15]:
# Пропуски в столбце "surgery?" заменим медианным значением, так как наличие информации о проведении операции можно расчитать, используя аналогичные значения из других столбцов
information_about_horses['surgery?'].fillna(information_about_horses.groupby(['Age', 'cp_data'])['surgery?'].transform('median'), inplace=True)

In [16]:
# Пропуски в столбце "capillary refill time" заполним медианным значением, используя группировку по столбцаб об информации о проведении операции и итогах лечения
information_about_horses['capillary refill time'].fillna(information_about_horses.groupby(['surgery?', 'outcome'])['capillary refill time'].transform('median'), inplace=True)

In [17]:
# Пропуски в столбце "packed cell volume" заполним медианным значением, чтобы минимизировать изменения при статистическом анализе данных.
information_about_horses['packed cell volume'].fillna(information_about_horses['packed cell volume'].median(), inplace=True)

In [18]:
# Пропуски в столбце "total protein" заполним медианным значением, чтобы минимизировать изменения при статистическом анализе данных.
information_about_horses['total protein'].fillna(information_about_horses['total protein'].median(), inplace=True)

In [19]:
# Пропуски в столбце "outcome" заполним медианным значением, используя группировку по столбцаб об информации о возврасте и наличии патологий
information_about_horses['outcome'].fillna(information_about_horses.groupby(['Age', 'cp_data'])['outcome'].transform('median'), inplace=True)

In [20]:
# Проверим наличие пропусков в столбцах.
information_about_horses.isna().sum()

surgery?                 0
Age                      0
Hospital Number          0
capillary refill time    0
packed cell volume       0
total protein            0
outcome                  0
cp_data                  0
dtype: int64

In [21]:
# Произведем повторный расчет базовых метрик для выбранных столбцов
information_about_horses.describe()

,surgery?,Age,Hospital Number,capillary refill time,packed cell volume,total protein,outcome,cp_data
count,300.000000,300.000000,3.000000e+02,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.640000,1.085889e+06,1.280000,46.170000,22.591667,1.550000,1.670000
std,0.490023,2.173972,1.529801e+06,0.464384,9.908584,26.453849,0.736642,0.470998
min,1.000000,1.000000,5.184760e+05,1.000000,23.000000,3.300000,1.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,1.000000,39.000000,6.600000,1.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,1.000000,45.000000,7.500000,1.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,2.000000,50.000000,53.250000,2.000000,2.000000
max,2.000000,9.000000,5.305629e+06,3.000000,75.000000,89.000000,3.000000,2.000000

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.